<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tim Moor | Open Source Ninja</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Tim Moor</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Experience</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                    <li>
                        <a href="">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <h1 class="name">Tim Moor</h1>
                        <i class="fa fa-cog fa-spin fa-3x fa-fw"></i><span class="sr-only"></span>
                        <hr class="star-light">
                        <span class="skills">Cloud Architect - Platform/Automation Specialist</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Experience</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-plus-square-o fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/1.png" class="img-responsive" alt="Red Hat">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-plus-square-o fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/2.png" class="img-responsive" alt="Dimension Data">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-plus-square-o fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/3.png" class="img-responsive" alt="Arc Innovation">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-plus-square-o fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/4.png" class="img-responsive" alt="Foodstuffs">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-plus-square-o fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/5.png" class="img-responsive" alt="Christchurch City Council">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-plus-square-o fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/6.png" class="img-responsive" alt="Webbiz Media">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Technical Evangelist, Propeller Head, Super Geek and Open Source Ninja are just some of the names I been called. I like to think these terms of endearment are used when someone is highly motivated, confident and passionate about their craft. The following resume will endeavor to demonstrate that I am a highly motivated, confident and conscientious individual with a proven track record of acheivement and success. I am looking to leverage the skills and experience of the last 10 years to solve enable success in your orgnaisation.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Dowload CV
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="contact" class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Call Tim</h3>
                        <p><i class="fa fa-phone footer-link" aria-hidden="true"></i>
                        <a class="footer-link" href="tel:0221004707">022 1004707</a></p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Get Social</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Google Plus</span><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Dribble</span><i class="fa fa-fw fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Send an email</h3>
                        <p><a class="footer-link" href="mailto:tim.moor@linux-geek.co.nz">tim.moor@linux-geek.co.nz</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Mobius Design Studio 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>RED HAT INC</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/1a.png" class="img-responsive img-centered" alt="">
                            <p>The life of a consultant is not one for the faint hearted. Early morning starts and 14 hour days are common place. A role where you think on your feet and where “Always be prepared” was no longer the moto just for the scouts.</p>
                            <p>Due to my attention to detail and service delivery focus, I am often brought into pre-sales engagements to run compressed architecture and design workshops to discover and document requirements and assist with transitioning high level business requirements into effective designs and chargeable statements of work.</p>
                            <p>Red Hat has provided me with a broad set of tools to solve a wide array of problems.</p>

                            <h3>ACCOMPLISHMENTS</h3>
                                <ul>
                                    <li>Improve overall speed quality of customers experience through developing awareness and support for TOGAF methodologies and developing workshop material to assist in solution development.</li>
                                    <li>Being appointed to the ANZ Subject Matter Expect Team for Red Hat Cloud Orchestration and Identity Management portfolios.</li>
                                    <li>Support one of the worlds largest telecommunication companies to develop a costs effective and highly scalable cloud solution through the use of Red Hat technologies such cloudforms, openstack and automation technologies such as Puppet and Foreman.</li>
                                </ul>
                            <h3>TECHNOLOGIES</h3>
                                <ul>
                                    <li>Ruby on rails development to support Cloudforms Integration</li>
                                    <li>Docker packaging to support OpenShift Integration</li>
                                    <li>LDAP and Active Directory knowledge to support Red Hat IPA Integration.</li>
                                </ul>
                            </p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong>RED HAT INC – AUCKLAND (NZ)
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>2013
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Platform Consultant (RHCE)
                                    </strong>
                                </li>
                            </ul>
                            <p class="text-center"><button type="button" class="center btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>DIMENSION DATA</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/2a.png" class="img-responsive img-centered" alt="">
                            <p>This was my first role in what I considered the big time, after 6 years for working for small to medium size New Zealand based companies, this was my first experience working for a large multinational corporation. No longer supporting a single customer, this role saw me managing 300+ systems across many difference customers, which brought with it a number of challenges. Often being pulled in different direction, this role taught me that : Time management, team work, planning and agility were key factors to success.

                            <h3>ACHIEVEMENTS</h3>
                                <ul>
                                    <li>Improve Managed Services delivery time lines by developing streamline automated procedures to handle customer request for new systems.</li>
                                    <li>Detail and Design Standard Operating Environments matching varying customer requirements for all Linux deployments</li>
                                    <li>Promotion from Linux Engineer based in Christchurch to Enterprise Unix consultant based in Auckland with a number of named accounts.</li>
                                    <li>Undertake due diligence and transition a high severity ESB application from AirNZ into operations</li>
                                </ul>
                            </p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong>DIMENSION DATA – CHRISTCHURCH (NZ)
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>2013
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Enterprise Systems Consultant
                                    </strong>
                                </li>
                            </ul>
                            <p class="text-center"><button type="button" class="center btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>ARC INNOVATIONS</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/3a.png" class="img-responsive img-centered" alt="">
                            <p>Originally taken on a 6 month contract to conduct a review and replacement of
                            Arc's aging EMC SAN Technology this role quickly expanded to include the implementation of vmwares first release of vCloud Director and the creation of a Service Orientated Architecture platform.
                            <p>I took on this role at Arc Innovations to allow myself to gain a deeper understanding of technology and be involved for the first time in ground up solution deployment. From documenting customer use cases and requirements, through to high level design and architectural plans to the unboxing and raking new hardware. This, along with each of my roles as taught me that to be successful in this industry that you need to consider everyone in your design.</p>
                            
                            <h3>ACHIEVEMENTS</h3>
                                <ul>
                                    <li>RFP Negotiations with Leading Hardware Manufactures to find the best fit for Arc's requirements.</li>
                                    <li>The architecture and deployment of distributed storage network to meet Arc Innovations availability and growth requirements.</li>
                                    <li>The architecture and deployment of VMware vCloud Director to streamline the development and testing procedures and alleviating operational bottlenecks.</li>
                                </ul>
                            </p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong>ARC INNOVATIONS – CHRISTCHURCH (NZ)
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>2011
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Contractor
                                    </strong>
                                </li>
                            </ul>
                            <p class="text-center"><button type="button" class="center btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>FOODSTUFFS</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/4a.png" class="img-responsive img-centered" alt="">
                            <p>Foodstuffs was my first appointment managing people, while I had taken on roles of leadership within teams like WML and project roles as in the council before, this was the first time that I had direct reports and the process that came with it. This was a new role within Foodstuffs and I was given the remit to implementing and control process across the organsiation. This included tasks such as implementing an Event Management application to asses change and outages quickly, through to tracking Key Performance Indicators for the company core systems. These process then feed directly into a change management policy that was first implemented during my time there and was the first step to help increasing the maturity of the organsiation.

                            <h3>ACHIEVEMENTS</h3>
                                <ul>
                                    <li>Through monitoring and change awareness a reduction of 30% was seen in High Priority outages.</li>
                                    <li>Major Incident review procedures ensured proactive steps to understand and remediated the root case was taken causing a further reduction of 50% in High Priority outages.</li>
                                    <li>The growth in responsibility and process saw a need to expand the operations team and I was tasked with out sourcing the operations team and managing the relationship.</li>
                                </ul>
                            </p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong>FOODSTUFFS – CHRISTCHURCH (NZ)
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>2011
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Service Operations Team Leader
                                    </strong>
                                </li>
                            </ul>
                            <p class="text-center"><button type="button" class="center btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>CHRISTCHURCH CITY COUNCIL</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/5a.png" class="img-responsive img-centered" alt="">
                            <p>Excited and eager to learn more about the IT Industry, the move to Christchurch and the assignment as the Business Systems Administrator of the Government Enterprise Management Suite (GEMS) applications was a true honour.
                            <p>With 450 daily active users and being a member of a small team meant that in the beginning with my days were managing database, windows and application administration tasks.</p>
                            <p>Over time a picked up PERL and used this as the tool to automate a large majority of these manual tasks, such as creating a web socket load balancer to spread users across varying application servers or auto mating database loads from SAP. This role taught me that if you haven't automated your original job within two years, that you're not working hard enough.</p>

                            <h3>ACHIEVEMENTS</h3>
                                <ul>
                                    <li>Automated 80% of my original role allowing time to take on additional application such as Interwoven Teamsite and others</li>
                                    <li>Appointed Technical Team Lead of the councils WWW.CCC.GOVT.NZ revamp project.</li>
                                </ul>
                            </p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong>CHRISTCHURCH CITY COUNCIL (NZ)
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>2009
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Business Systems Administrator
                                    </strong>
                                </li>
                            </ul>
                            <p class="text-center"><button type="button" class="center btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>WEBBIZ MEDIA LIMITED</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/6a.png" class="img-responsive img-centered" alt="">
                            <p>Formed in 2001, WML Software provides professional services focused on custom software and web solutions for Mitre 10 New Zealand. As the service desk managed I was the voice of the organsiation to the staff from their 125 stores nation wide.
                            <p>Providing first level support to start with, over time I grew to see the patterns and common pain points of our clients. With little or no experience of the Linux platform I sat down and studied hard to understand a way that I could prevent the customers from having to call.</p>
                            <p>What I did during my time at WML is something that I have carried throughout all my jobs. That if you can't automate your role in 2 years then your not working hard enough. And this is exactly what I did working for WML. When I started it was common to see between 50-60 tickets per week, Through what I like to think is a well rounded Software Development Life Cycle, was in fact achieve through proactive front line intervention.</p>

                            <h3>ACHIEVEMENTS</h3>
                                <ul>
                                    <li>Through automation and proactive front line initiatives, we saw a over all reduction in support calls from 60 per week, to ~20 per month</li>
                                    <li>I caught the Linux Bug. It gave me the tools that I have become so found of and now reliant on for the last 10 years.</li>
                                </ul>
                            </p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong>WEBBIZ MEDIA LIMITED – QUEENSTOWN (NZ)
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>2007
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Service Desk Manager
                                    </strong>
                                </li>
                            </ul>
                            <p class="text-center"><button type="button" class="center btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>

</body>

</html>
